
<br><br><br><br>

<h3>aprofile works!</h3>
<hr>

<h2>Welcome Mr.{{myprofile.Name}}</h2>

<div class="container py-5">

    
    <table class="table table-striped table-hover">
        
            <tr>
               <td>Name</td>
                <td>{{myprofile.Name}}</td>
            </tr>
            <tr>
               <td>Gender</td>
                <td>{{myprofile.Gender}}</td>
            </tr>
            <tr>
               <td>DOB</td>
                <td>{{myprofile.DOB}}</td>
            </tr>
            <tr>
               <td>Email</td>
                <td>{{myprofile.Email}}</td>
            </tr> 
            <tr>
               <td>Mobile No.</td>
                <td>{{myprofile.MobileNo}}</td>
            </tr>
            <tr>
                <td colspan="2">Address:</td>
            </tr>
            <tr>
               <td>Street</td>
                <td>{{myprofile.Street}}</td>
            </tr>
            <tr>
               <td>City</td>
                <td>{{myprofile.City}}</td>
            </tr>
            <tr>
               <td>State</td>
                <td>{{myprofile.State}}</td>
            </tr>
            <tr>
               <td>Country</td>
                <td>{{myprofile.Country}}</td>
            </tr>
            <tr>
               <td>Postal Code</td>
                <td>{{myprofile.PostalCode}}</td>
            </tr>
    
    </table>  
</div>