
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3 mb-5 bg-white rounded fixed-top">
    <a class="navbar-brand px-5" routerLink="/home">DataEntry</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto px-5">
        <li class="nav-item active px-3">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li class="nav-item px-3">
          <a class="nav-link" routerLink="/">About</a>
        </li>
        <li class="nav-item px-3">
          <a class="nav-link" routerLink="/">Contact</a>
        </li>
        <li class="nav-item px-3" *ngIf="!this.AuthService.isLoggedIn()">
          <a class="nav-link text-success" routerLink="/login">Login</a>  
        </li>
      </ul>    
    </div>
  </nav> 

<!--Student navbar-->

  <div *ngIf="this.AuthService.isLoggedIn()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3 mb-5 bg-white rounded  fixed-top">
      <a class="navbar-brand px-5" routerLink="/home">DataEntry</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto px-5">
          <li class="nav-item active px-3">
            <a class="nav-link" routerLink="/stud/dashboard">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item px-3">
            <a class="nav-link" routerLink="/stud/sprofile">Profile</a>
          </li>
          
          <li class="nav-item px-3">
            <a class="nav-link text-success" routerLink="/login" (click)="this.Logout()">Logout</a>  
          </li>
        </ul>    
      </div>
    </nav> 
  </div>

  <!--Admin navbar-->

  <div *ngIf="this.AuthService.isAdmin()">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-3 mb-5 bg-white rounded fixed-top">
      <a class="navbar-brand px-5" routerLink="/home">DataEntry</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto px-5">
          <li class="nav-item active px-3">
            <a class="nav-link" routerLink="/admin/dashboard">Dashboard <span class="sr-only">(current)</span></a>
          </li>
          
          <li class="nav-item px-3">
            <a class="nav-link" routerLink="#">About</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" routerLink="#">Contact</a>
          </li>
          <li class="nav-item px-3">
            <a class="nav-link" routerLink="/admin/aprofile">Profile</a>
          </li>
          <li class="nav-item px-3" >
            <a class="nav-link text-success" routerLink="/login" (click)="this.AuthService.Logout()">Logout</a>  
          </li>
        </ul>    
      </div>
    </nav> 
  </div>


  <router-outlet></router-outlet>


<style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(219, 214, 214);
    color: white;
    text-align: center;
  }
  </style>
  
  <div class="footer">
    <p>Footer</p>
  </div>