<br><br><br><br>

<h2 class="text-secondary">Welcome Mr.{{myprofile.Name}}</h2>

 <div class="container py-5" style="width: 500px; margin-left: 25%; background-color: rgb(225, 245, 248);"> 

      <table class="table table-hover">
        <thead>
            
        </thead>
            <tr>
               <td>Name</td>
                <td>{{myprofile.Name}}</td>
            </tr>
            <tr>
               <td>Class</td>
                <td>{{myprofile.Class}}</td>
            </tr>
            <tr>
               <td>Gender</td>
                <td>{{myprofile.Gender}}</td>
            </tr>
            <tr>
               <td>DOB</td>
                <td>{{myprofile.DOB}}</td>
            </tr>
            <tr>
               <td>Email</td>
                <td>{{myprofile.Email}}</td>
            </tr> 
            <tr>
               <td>Mobile No.</td>
                <td>{{myprofile.MobileNo}}</td>
            </tr>
            <tr>
                <td colspan="2">Address:</td>
            </tr>
            <tr>
               <td>Street</td>
                <td>{{myprofile.Street}}</td>
            </tr>
            <tr>
               <td>City</td>
                <td>{{myprofile.City}}</td>
            </tr>
            <tr>
               <td>State</td>
                <td>{{myprofile.State}}</td>
            </tr>
            <tr>
               <td>Country</td>
                <td>{{myprofile.Country}}</td>
            </tr>
            <tr>
               <td>Postal Code</td>
                <td>{{myprofile.PostalCode}}</td>
            </tr>
    
    </table>  
    </div>
<br><br>


<div class="container" style="background-color: lightblue; height: 300px;">
    
<h3 class="text-info font-italic">Upload Documents</h3> 

<div class="card py-2 px-2 shadow-lg p-3 mb-5 bg-white rounded" style="width: 500px;margin-left: 25%;">
    <form [formGroup]="myForm" (ngSubmit)="submit()">
  
        <div class="form-group">
            <label for="name">Name</label>
            <input 
                formControlName="name"
                id="name" 
                type="text" 
                class="form-control">
            <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
                <div *ngIf="f.name.errors.required">Name is required.</div>
                <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div>
            </div>
        </div>
          
        <div class="form-group">
            <label for="file">File</label>
            <input 
                formControlName="file"
                id="file" 
                type="file" 
                class="form-control"
                (change)="onFileChange($event)">
            <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
                <div *ngIf="f.file.errors.required">File is required.</div>
            </div>
        </div>
              
        <button class="btn btn-primary" type="submit" style="margin-left: 70%;">Submit</button>
    </form>
</div>
</div>

